.is-contact-page {
  padding-top: 2rem;
  padding-bottom: 8rem;
  .container {
    padding: 0 20px;

    .avatar {
      width: 84px !important;
      margin: -50px auto 50px;
      z-index: 10;
    }

    .title {
      font-weight: 400;
      line-height: 1.125;
    }
  }
}

.social-links {
  .field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    a.button {
      background-color: transparent;
      color: #000;
      border-radius: 100%;
      margin: 0 0.2rem;
      height: 47px;
      width: 47px;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(0, 0, 0, 0.3);

      .icon {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;

        &:first-child:last-child {
          margin-left: calc(-0.5em - 1px);
          margin-right: calc(-0.5em - 1px);
        }
      }
    }
  }
}

.animate-fadeUp {
  animation: fadeIn 2s, translate-up 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes translate-up {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .is-size-1-desktop {
    font-size: 3rem !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-size-2-tablet {
    font-size: 2.5rem !important;
  }
  .avatar {
    width: 210px;
  }

  .social-links {
    margin: 3.5rem auto 3.5rem;
    a.button {
      margin: 0 0.8rem;
    }
  }
}
