* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  -webkit-box-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #141c3a !important;
    border-color: #141c3a !important;
    color: #fff !important;
  }

  &:focus {
    background-color: #141c3a !important;
    border-color: #141c3a !important;
    color: #fff !important;
  }
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #141c3a;
  color: #141c3a;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
}
