.walter {
  padding-top: 2rem;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;

  &__body {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
  }

  &__footer {
    padding: 0rem 1.5rem;

    .is-bottom {
      height: auto;
      max-width: 100%;
      margin-bottom: -0.4rem;
    }
  }

  &__body,
  &__footer {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;

  &:last-child {
    margin-bottom: -0.75rem;
  }

  &.is-centered {
    -webkit-box-pack: center;
    justify-content: center;
  }

  .column {
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;

    .title {
      color: #141c3a;
      font-weight: 800;
      line-height: 1.125;
    }

    .subtitle {
      color: rgba(10, 10, 10, 0.9);
      font-family: 'europa', sans-serif;
      font-weight: 300;
      line-height: 1.5;
    }

    .title,
    .subtitle {
      word-break: break-word;
    }

    .title:not(:last-child),
    .subtitle:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .avatar {
      margin: 2rem 0;
      width: 150px;
      height: auto;
      max-width: 100%;
    }
  }
}

.columns.is-centered {
  -webkit-box-pack: center;
  justify-content: center;
}

.section {
  margin: 0 !important;
  max-width: 100% !important;
  &.is-primary {
    background-color: #141c3a;
    color: #fff;

    .title {
      color: #fff;
    }

    .subtitle {
      color: #fff;
    }
  }
}

.section.skills {
  margin-top: -14rem !important;
  padding-bottom: 1rem;

  .box {
    padding: 0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
    .content {
      .MuiGrid-item:last-child {
        border-right: none;
        border-bottom: none;
      }

      figure.image {
        margin: 0 auto 2em;

        &:not(:last-child) {
          margin-bottom: 2em;
        }

        .gatsby-image-wrapper {
          img {
            height: 48px;
            width: auto;
            display: inline-block;
          }
        }
      }

      figure {
        margin-left: 2em;
        margin-right: 2em;
        text-align: center;
      }

      h1:not(:first-child) {
        margin-top: 1em;
      }

      h1 {
        line-height: 1.125;
        word-break: break-word;
        font-family: 'eurostile', sans-serif;
        font-weight: 800;
        color: #141c3a;
        margin-top: 1em;
        margin-bottom: 1.5rem;
      }

      p:not(:last-child) {
        margin-bottom: 2em;
      }

      p.list-title {
        margin-top: 50px;
        margin-bottom: 8px;
      }

      ul {
        list-style: none;
        margin-left: 0;
        margin-top: 0;

        li {
          font-size: 18px;
          margin: 0;
          padding: 0;
        }

        li + li {
          margin-top: 0.25em;
        }
      }
    }
  }
}

.client-grid {
  padding-top: 3rem;
}

.image {
  display: block;
  position: relative;

  .client-logo {
    display: block;
    height: 73px !important;
    width: 100%;
    margin: auto;
    max-width: 175px !important;
  }
}

.walter.is-white {
  background-color: white;
  color: #0a0a0a;
}

.has-text-centered {
  text-align: center !important;
}

.is-size-4 {
  font-size: 1.5rem !important;
}

.has-text-weight-normal {
  font-weight: 400 !important;
}

.has-text-primary {
  color: #7510f7 !important;
}

.has-border-top {
  border-top: 1px solid #e6ecf8;
}

@media screen and (min-width: 1024px) {
  .is-size-1-desktop {
    font-size: 3rem !important;
  }
  .is-size-4-desktop {
    font-size: 1.5rem !important;
  }

  .is-size-3-desktop {
    font-size: 2rem !important;
  }

  .is-size-5-desktop {
    font-size: 1.25rem !important;
  }

  .is-long {
    padding-bottom: 18rem;
  }

  .is-medium {
    padding: 9rem 1.5rem;
  }

  .section.skills {
    .box {
      .content {
        .MuiGrid-item {
          padding: 70px 45px;

          p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .is-size-2-tablet {
    font-size: 2.5rem !important;
  }

  .avatar {
    width: 210px !important;
  }

  .is-size-4-mobile {
    font-size: 1.5rem !important;
  }

  .is-bottom {
    margin-bottom: -0.45rem;
    max-width: 860px;
  }

  .is-long {
    padding-bottom: 16rem;
  }

  .columns:not(.is-desktop) {
    display: flex;
  }

  .column.is-three-fifths {
    -webkit-box-flex: 0;
    flex: none;
    width: 60%;
  }

  .section.skills {
    .box {
      .content {
        .MuiGrid-item {
          border-bottom: 0px solid #e6ecf8;
          border-right: 1px solid #e6ecf8;
          padding: 60px 35px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
