.layer-image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%), 0 5px 30px rgb(0 0 0 / 15%);
  transition: transform 0.35s ease;
  max-width: 550px;
  cursor: pointer;

  &__image {
    width: 100%;
  }

  &:hover {
    transform: scale(1.075);
  }
}

.click-here-button {
  margin-top: 2rem;
}

@media (max-width: 960px) {
  .image-container {
    max-width: 600px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 760px) {
  .image-container {
    .layer-image {
      height: auto;
      max-width: 100%;

      &__image {
        max-width: 100%;
        height: auto;
        transform: scale(1);
      }
    }
  }
}

@media (max-width: 360px) {
  .layer-image {
    height: auto;
    max-width: 100%;

    &__image {
      max-width: 100%;
      height: auto;
      transform: scale(2) !important;
    }
  }
}
