.navbar {
  padding: 1.2rem 0;
  box-shadow: none;
  z-index: auto;
  min-height: 3.25rem;
  display: flex;
  position: relative;
  border: 0;
  align-items: stretch;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  background-color: white !important;
  box-shadow: none !important;

  &__container {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  &__menu {
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    margin-right: -0.75rem;
    box-shadow: none;
    padding: 0.5rem 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    .navbar-item {
      font-weight: 300;
      color: #141c3a;
    }

    .button {
      height: 0;
    }

    &__start {
      -webkit-box-pack: start;
      justify-content: flex-start;
      margin-right: auto;
      -webkit-box-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: flex;
    }

    &__end {
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-left: auto;
      -webkit-box-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: flex;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    .button.is-primary.is-outlined {
      border-width: 2px;
      font-weight: 400;
      font-size: 18px;
      padding: 1.2rem;
    }
  }

  .navbar-item {
    background-color: transparent;
    display: flex;

    img {
      max-height: 3rem;
      height: auto;
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
  }

  .navbar-item {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .navbar-item {
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: #141c3a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    &__container {
      max-width: 960px;
    }
  }
}
