.container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  padding: 5rem 1.5rem;
}

.section.call-to-action {
  .box {
    padding: 3.5rem 2rem;
    margin-top: -9rem;
    background-color: #7510f7 !important;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #7510f7 !important;
    border-radius: 12px;
    display: block;

    .level {
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }
  .button{
    color: #fff !important;
  }
}

footer {
  .title {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.7;
  }

  .copyright {
    opacity: 0.7;

    .icon {
      margin-top: -1px;
      margin-left: 1px;
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-inline-box;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .section.call-to-action .box {
    padding: 3.5rem 1.25rem;
  }
  footer.section.is-small {
    padding: 1rem 1.5rem 4rem !important;
  }
}
